<!-- Modal -->
<div class="modal fade" id="responseModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="back_to_homepage();">&times;</button>
        <h4 class="modal-title">Booking Details</h4>
      </div>
      <div class="modal-body">
        <p id="responseValue"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="back_to_homepage();">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
    function back_to_homepage() {
        window.location = "http://www.solvify.in";
    }
</script>