<%= render 'header' %>
<body>
<div class="spacer container"></div>
<div class="spacer container"></div>
<h3>Thank you for ordering with Solvify. Your order Id is <%= @id %>.</h3>

</body>

<%= render 'footer' %>