#devise_panel {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.devise_btn {
    width: 100%;
    height: 50px;
    border: 1px solid #23b4d2;
    background-color: transparent;
    border-radius: 5px;
    color: #23b4d2;
}

.devise_text_field {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.devise_text {
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
}

.devise_text_field:focus {
    border: 1px solid #23b4d2;
}
.devise_btn:hover {
    background-color: #23b4d2;
    color: #ffffff;
}