// Place all the styles related to the genericorders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#android_app {
  width:200px;
}

#main{
  background: image-url('main_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-size: 100%;
  /*height: 450px;*/
}
