.service_landing_page {
    background: image-url('plumbing_background.jpg') no-repeat center center fixed;
  background-size: 100%;
}

.form_wrapper {
  border-radius: 5px;
  background-color: white;
}
.center {
  text-align: center;
}