<div class="footer spacer">
  <div class="row">
    <div class="col-md-7">
      <div class="container">
        <ul class="icons list-inline" style="margin-top: 10px;">
          <li>
            <a href="https://www.facebook.com/solvify" target="_blank">
              <%= image_tag('fb_icon.png', class: "social_icn", alt: "Facebook") %>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/solvifyin" target="_blank">
              <%= image_tag('twt_icon.png', class: "social_icn", alt: "Twitter") %>
            </a>
          </li>
          <li>
            <a href="whatsapp://send?text=Check%20out%20www.solvify.in%20to%20address%20all%20of%20your%20household%20service%20and%20repair%20needs.">
              <%= image_tag('whatsapp.png', class: "social_icn", alt: "Whatsapp") %>
            </a>
          </li>
          <li><h4>8884253299</h4></li>
        </ul>
      </div>
      <div class="container">
        <ul class="list-inline">
          <li><a href="http://www.solvify.in">Home</a></li>
          <li><a href="AboutUs.php">About Us</a></li>
          <li><a href="TermsAndConditions.php">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <a href="https://play.google.com/store/apps/details?id=com.prafful.servelocal" target="_blank">
        <%= image_tag('android_app.png', id: "android_app", alt: "Android App") %>
      </a>
    </div>
  </div>
</div>
