<%= render 'header' %>

<body>
<div class="spacer container">
</div>
<div class="container spacer">
  <h1 class="spacer">Do things you love!!!</h1>
  <p>While all your friends are having fun this weekend; planning where to go for a trip or a party, are you stuck at home wondering about something that needs to be fixed urgently? May be a tube light, or a leaking tap, perhaps a broken appliance or something else which might ruin the little time you get for yourself. </p>
  <p>Well not anymore, Solvify.in is here to help you get things done. Now, Instead of hopelessly browsing internet, making pointless calls, and negotiating with people for hours just Solvify it. You want something to be done just let us know and we will ensure that we “Get things done” for you just the way you would have. Don’t wait, visit our website or give us a call on +918884253299 or simply ping us on whatsapp and we will make sure our expert solvers provide you with high quality, affordable, timely, and reliable solution to all your household troubles. You can book from a wide choice of services from electrical, appliance repair, cleaning, laundry and many more, solve it all with just a few clicks. </p>
  <p>Let us do everything else, so you can do things you love.</p>
  <p>For a full list of services or to book one just click here.</p>
</div>

<hr class="featurette-divider spacer">
<%= render 'footer' %>
</body>
</html>
